@import "media-queries";
@import "variables.module.scss";

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // padding: 6rem;
    min-height: 100vh;
}

.description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    p {
        position: relative;
        margin: 0;
        padding: 1rem;
        background-color: rgba(var(--callout-rgb), 0.5);
        border: 1px solid rgba(var(--callout-border-rgb), 0.3);
        border-radius: $large-br;
    }
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    background: #e88009;
    width: 100vw;
    height: 100dvh;
    padding: 4rem;
    z-index: 2;
    font-family: var(--font-title);

    .heroTexts {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: start;
        // min-width: 25%;
        // gap: 0.8rem;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        align-self: auto;
        order: 0;

        .heroTitle {
            display: flex;
            flex-direction: row;
            justify-content: start;
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.2;
            margin: 0;
            color: #432a0d;
        }

        .heroSubtitle {
            font-size: 2.5rem;
            font-weight: 400;
            margin: 0;
            color: #784b17;
            font-style: italic;
            padding: 1rem 0;
            gap: 0.5rem;
            display: inline-flex;
            small {
                opacity: 0.4;
                font-size: smaller;
                user-select: none;
            }
        }

        .heroButtons {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;
            font-size: medium;
            color: #432a0d;
        }

        font-style: normal;
        text-align: start;
        flex-direction: column;
        justify-content: center;
        z-index: 10;
    }

    justify-items: center;
}

.donut {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    align-self: auto;
    order: 0;
    align-items: center;
    justify-items: end;
    align-content: end;
    justify-content: end;
    gap: 100px;
    margin: 0px -100px 0px 0px;
    z-index: 5;
}

.face {
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
    order: 0;
    z-index: 0;
    padding: 0px;
    top: 10px;
    right: 10px;
    display: block;
    position: sticky;
}

.button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 500;

    &:hover {
        filter: brightness(1.5);
    }
}

.buttonLink {
    @extend .button;
    font-weight: 500;
    z-index: 10;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: stretch;
    span {
        margin: auto;
    }
    &:hover {
        filter: brightness(1);
        span {
            transition: all 0.2s ease-in-out;
            transform: translateX(5px);
        }
    }
}

.buttonCta {
    @extend .button;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem 2.5rem;
    // background-color: #cf7711;
    border: 2px solid rgb(0 0 0 / 15%);
    border-radius: 21px;
    z-index: 10;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 1px 0px #0000001c;

    &:hover {
        filter: brightness(0.8);
    }
}

.section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    width: 100%;
}

.footer {
    @extend .section;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #dcdde7;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000000' stroke-width='0.4' stroke-opacity='0.1' %3E%3Ccircle fill='%23FFFFFF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fbfbfb' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f8f8f8' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23f4f4f4' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23f1f0f0' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23edecec' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23eae9e9' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23e6e5e5' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23e3e1e1' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23dfdede' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23dcdada' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23d8d6d6' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23d5d3d3' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23d1cfcf' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23cecbcb' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23cac7c7' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23c7c4c4' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23C3C0C0' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    // background-attachment: fixed;
    // background-size: cover;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    p {
        line-height: 1.6;
        font-family: var(--font-body);
        font-weight: 300;
        opacity: 0.8;
    }
}

.footerLink {
    // @extend .buttonLink;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
.smile {
    display: flex;
    margin-bottom: 1rem;
}
.footerResume {
    @extend .buttonCta;
    background-color: #d0d1dc;

    &:hover {
        background-color: #d8daf0;
        box-shadow: 0px 0px 0px 0px #0000001c;
    }
}

.inlineTag {
    background-color: #bcbdcc;
    border-radius: 6px;
    padding: 0px 5px;
    font-weight: bold;
    color: #494949;
    font-size: smaller;
}
.heroResume {
    @extend .buttonCta;
    background-color: #50422f2e;

    &:hover {
        background-color: #ff8800;
        color: #4c2600;
        box-shadow: 0px 0px 0px 0px #0000001c;
    }
}
.contact {
    // @extend .section;
    backdrop-filter: blur(4px);
}
.about {
    @extend .section;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23E8D6C9' stroke-width='0.7' stroke-opacity='0.35' %3E%3Ccircle fill='%23FFFFFF' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fefdfd' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23fcfbfb' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23fbf9f8' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23faf7f6' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23f8f6f4' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23f7f4f2' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23f6f2f0' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23f4f0ed' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23f3eeeb' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23f1ece9' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23f0eae7' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23efe8e5' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23ede6e3' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23ece5e0' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23ebe3de' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23e9e1dc' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23E8DFDA' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    // background-attachment: fixed;
    background-size: cover;
    box-shadow: 1px 1px 7px 0px #0000001a;
    z-index: 2;
    ul {
        list-style: none;
    }

    li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }

    li::before {
        content: "•";
        margin-right: -13px;
        margin: 0px -14px 0px 5px;
        z-index: 25;
        // color: #9a6e3c;
    }

    .underline {
        text-decoration: underline;
        -webkit-text-decoration-color: #e88009;
        text-decoration-thickness: 5px;
        text-decoration-color: #e88009;
        text-underline-offset: 5px;
        font-size: xxx-large;
        display: flex;
        font-weight: 700;
        color: black;
        padding: 0;
        margin: -10px 0;
    }
}

.aboutMeStrong {
    font-family: var(--font-title);
    color: #3b3b3b;
    font-weight: 500;
    font-size: large;
    border-radius: 4px;
    padding: 4px 5px 4px 22px;
    background: rgb(146 146 146 / 8%);
    margin-top: 20px;
}

.aboutMeParagraph {
    font-size: large;
    font-family: var(--font-body);
    margin: 8px 0 10px 20px;
    backdrop-filter: blur(4px);
    max-width: 760px;
}

.footNote {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    color: #784b17;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
}

.fry {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    margin: auto;
}
.aboutMeTextBlock {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    align-content: start;
    gap: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    // font-family: var(--font-mono);
    color: #232323;
    width: 100%;
    h2 {
        font-weight: 400;
        color: #454545;
        font-size: larger;
        margin-bottom: 14px;
    }
}
.code {
    font-weight: 700;
    font-family: var(--font-mono);
}
.emailCopyField {
    display: flex;
    border: 1px dashed #a4a4a4;
    border-radius: 18px;
    padding: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
        "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    align-items: center;
    justify-content: space-between;

    width: fit-content;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: rgb(255, 255, 255);
    }
    p {
        font-size: small !important;
        color: lighten($black-substitute, 30%);
        cursor: text;
    }
}

.fieldButton {
    border-radius: 50%;
    background-color: #7b7b7b14;
    width: 24px;
    height: 24px;
    color: $black-substitute;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: #7b7b7b42;
    }
}
.twoCols {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: normal;
    gap: 1.5rem;
}

.twoColsAbout {
    @extend .twoCols;
    align-items: normal;
    width: 100%;
}
.twoRows {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: normal;
    gap: 1.5rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    max-width: 100vh;
    width: var(--max-width);
    min-height: 250px;
    align-items: center;
}

.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition:
        background 200ms,
        border 200ms;

    span {
        display: inline-block;
        transition: transform 200ms;
        display: flex;
        align-items: center;
    }

    h2 {
        all: unset;
        font-size: x-large;
        font-weight: 600;
        margin-bottom: 0.7rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 10px;
        align-content: center;

        span {
            display: flex;
            align-items: center;
        }
    }

    p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.9rem;
        line-height: 1.5;
        max-width: 30ch;
    }

    min-height: 120px;
}

.allProjectsSection {
    @extend .section;
    min-height: 100dvh;
    box-shadow: 0 -6px 6px 0px rgb(126 110 165 / 8%);
    z-index: 2;
    // padding-bottom: 20rem;
    // background: #f3f3f3;
    background-color: #e6ddeb;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ebdce1'/%3E%3Cstop offset='1' stop-color='%23ebdce1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23dedceb'/%3E%3Cstop offset='1' stop-color='%23dedceb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23dbebdd'/%3E%3Cstop offset='1' stop-color='%23dbebdd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23E6DDEB'/%3E%3Cstop offset='1' stop-color='%23E6DDEB' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EBE5DB'/%3E%3Cstop offset='1' stop-color='%23EBE5DB' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DBE2EB'/%3E%3Cstop offset='1' stop-color='%23DBE2EB' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    // padding: 1rem 0 0;
    padding-bottom: 0;
}
.sectionHeader {
    padding-left: 15px;
    font-size: 0.8rem;
    font-weight: 900;
    line-height: 1.2;
    color: lighten($black-substitute, 50%);
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    h3 {
        display: flex;
        gap: 0.5rem;
    }
}
.icon {
    display: flex;
    align-items: center;
}
.featuredProject {
    @extend .section;
    min-height: 100dvh;
    border-top: 1px solid #e8800942;
    border-bottom: 1px solid rgb(192 192 255 / 76%);
    background-color: #fff9ef;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffeed6'/%3E%3Cstop offset='1' stop-color='%23ffeed6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff9ef'/%3E%3Cstop offset='1' stop-color='%23fff9ef' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffeed6'/%3E%3Cstop offset='1' stop-color='%23ffeed6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFF9EF'/%3E%3Cstop offset='1' stop-color='%23FFF9EF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFE1BC'/%3E%3Cstop offset='1' stop-color='%23FFE1BC' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFF9EF'/%3E%3Cstop offset='1' stop-color='%23FFF9EF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    // background-color: #ffffff;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff3e3'/%3E%3Cstop offset='1' stop-color='%23fff3e3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff3e3'/%3E%3Cstop offset='1' stop-color='%23fff3e3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFE6C7'/%3E%3Cstop offset='1' stop-color='%23FFE6C7' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    // background-attachment: fixed;
    // background-size: cover;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;

    &::before {
        background: var(--secondary-glow);
        border-radius: 50%;
        width: 480px;
        height: 360px;
        margin-left: -400px;
    }

    &::after {
        background: var(--primary-glow);
        width: 240px;
        height: 180px;
        z-index: -1;
    }

    &::before,
    &::after {
        content: "";
        left: 50%;
        position: absolute;
        filter: blur(45px);
        transform: translateZ(0);
    }
}
.buttonKeepInTouch {
    font-weight: 500;
    display: flex;
    font-size: large;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    background-color: #cf4d11;
    border: 5px solid #f4cdbb;
    border-radius: 21px;
    z-index: 10;
    color: #fff;
    transition: $whoop;
    cursor: pointer;

    &:hover {
        background-color: #f56a2a;
        padding: calc(1rem + 4px) calc(2rem + 4px);
        border: 0px solid #f4cdbb;
        color: #fff;
    }
}

.footerText {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    backdrop-filter: blur(2px);

    h2 {
        /* font-family: var(--font-title); */
        font-size: x-large;
        color: #0d0d0d94;
    }
}

.madeWith {
    width: 100%;
    background-color: #d0d1dc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /* opacity: 0.5; */
    font-size: smaller;
    /* box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.1019607843); */
    z-index: 2;
    color: #7c7d8c;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: small;
    color: #36384f;
}

.logo {
    position: relative;
}

.tooltipTrigger {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-style: dotted;
    text-decoration-thickness: from-font;
    text-underline-offset: 5px;
    text-decoration-color: #432a0d4f;
    &:hover {
        text-decoration: none;
    }
}

.tooltipBubble {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem 1.8rem;
    background-color: rgba(224, 224, 224, 0.305);
    color: #22201e;
    border-radius: 6px;
    border: 1px solid rgba(134, 71, 0, 0.6);
    font-size: small;
    z-index: 10;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: $small-shadow;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    max-width: 400px;
    min-width: 280px;
    z-index: 25;
    line-height: 1.4;

    &::before {
        content: "";
        position: absolute;
        z-index: 26;
        top: -8px;
        left: 9%;
        transform: translateX(-50%);
        border-style: solid;
        filter: drop-shadow(0px -1px 0px #00000030);
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #e69e4b transparent;
    }

    @media screen and (max-width: 600px) {
        max-width: 100%;
        min-width: 80%;
    }
}

.seeMyStack {
    @extend .buttonLink;
    padding-left: 0;
    color: #737373;
    display: flex;
    gap: 0.5rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: medium;
    align-items: baseline;
}

.demoButton {
    @extend .buttonCta;
    // padding: 1rem 1.6rem;
    background-color: #4d4a46;
    // border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    // border-radius: 6px;
    color: #ffffffe2;
    font-size: 0.9rem;
    margin: 1.2rem 0;
    font-weight: 500;
    text-shadow: 1px 1px 1px #00000031;
    // transition:
    //     box-shadow,
    //     background 0.3s ease-in-out;
    box-shadow: $big-shadow;
    transition: $whoop;

    &:hover {
        box-shadow: $small-shadow;
    }
}

.githubSourceButton {
    @extend .demoButton;
    background-color: #6e593c3b;
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    color: #302d2de2;
    text-shadow: 1px 1px 1px #ffffff20;
}

.featuredGrid {
    display: grid;
    grid-template-columns: 1fr 0.7fr 1.3fr;
    grid-template-rows: 1fr 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.images {
    grid-area: 1 / 1 / 2 / 4;
    padding: 1.5rem 3rem;
    border-bottom: 1px solid #0000001a;
}

.summary {
    grid-area: 2 / 1 / 4 / 2;
    padding: 1.5rem 3rem;
    background: transparent;
    background: linear-gradient(45deg, rgba(2, 0, 36, 0) 90%, rgb(255 255 255 / 39%) 100%);
    font-family: var(--font-body);

    h2 {
        font-family: var(--font-title);
    }
}

.stack {
    grid-area: 2/2/4/3;
    border-left: 1px solid #0000001a;
    padding: 1.5rem 3rem;
    background: transparent;
    font-size: small;
    color: #484848;
    // background: linear-gradient(296deg, rgba(2, 0, 36, 0) 80%, rgb(230 215 195 / 30%) 100%);
}

.summaryTitle {
    grid-area: 2 / 1 / 3 / 2;
    text-transform: uppercase;
    color: #7b7b7b;
    font-weight: 700;
    font-size: small;
    padding: 0.5rem 0rem 1.5rem;
}

.summaryText {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #432a0d;
    padding-top: 1rem;
}

.stackTitle {
    grid-area: 2/2/3/3;
    text-transform: uppercase;
    color: #7b7b7b;
    font-weight: 700;
    font-size: small;
    padding: 0.5rem 0rem 1.5rem;
}

.mainImage {
    grid-area: 1 / 1 / 2 / 2;
}

.moreImages {
    grid-area: 1 / 2 / 2 / 4;
}

.features {
    grid-area: 2 / 3 / 4 / 4;
    border-left: 1px solid #0000001a;
    padding: 1.5rem 3rem;
    // background: linear-gradient(296deg, rgba(2, 0, 36, 0) 80%, rgb(230 215 195 / 30%) 100%);
}
.featuresTitle {
    grid-area: 2 / 3 / 3 / 4;
    text-transform: uppercase;
    color: #7b7b7b;
    font-weight: 700;
    font-size: small;
    padding: 0.5rem 0rem 1.5rem;
}

.featureList {
    // customize the ul bullets:

    list-style: none;
    padding-left: 0;
    margin-left: 0;
    line-height: 1.5;
    li {
        position: relative;
        padding-left: 1.3em;
        &:before {
            content: "•";
            color: #7b7b7bb7;
            position: absolute;
            left: 0;
        }
    }
}
.tagsRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h3 {
        font-size: smaller !important;
        color: #444b5b !important;
        font-weight: 500 !important;
        margin-right: 0.5rem !important;
        margin-bottom: 0 !important;
    }
}
.tag {
    background-color: rgb(255 255 255 / 34%);
    color: rgb(0 0 0);
    border: 1px solid #303030;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    width: fit-content;
    display: flex;
    gap: 0.3rem;
    font-size: small;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    // background 0.3s ease-in-out;

    box-shadow: $base-shadow;

    &:hover {
        background-color: #4d4a46 !important;
        color: rgba(255, 255, 255, 0.82) !important;
        border: 1px solid #4d4a46 !important;
        box-shadow: $small-shadow;
        .tagText {
            color: white;
        }
    }

    .tagText {
        color: black;
        font-weight: 500;
        font-size: smaller;
    }
}

.allProjectsGrid {
    display: grid;
    padding: 6rem 0 0;
    // border-radius: 4px;
    // background-color: #e6ddeb;
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ebdce1'/%3E%3Cstop offset='1' stop-color='%23ebdce1' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23dedceb'/%3E%3Cstop offset='1' stop-color='%23dedceb' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23dbebdd'/%3E%3Cstop offset='1' stop-color='%23dbebdd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23E6DDEB'/%3E%3Cstop offset='1' stop-color='%23E6DDEB' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EBE5DB'/%3E%3Cstop offset='1' stop-color='%23EBE5DB' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DBE2EB'/%3E%3Cstop offset='1' stop-color='%23DBE2EB' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    // background-attachment: fixed;
    // background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    // border: 1px solid #d1d1d1;
    overflow: hidden;
    // gap: 8px;
}

.allStacks {
    grid-area: 1/1/2/4;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem 0rem;
    display: grid;
    background: rgba(141, 148, 171, 0.2392156863);
    border-radius: 17px 17px 0 0;
    margin-bottom: -2px;
    border: 1px solid #9296b973;
    box-shadow:
        0 -2px 3px 0px rgba(0, 0, 0, 0.0784313725) inset,
        0px -3px 3px 0px rgb(0 0 0 / 4%);
}

.thiscoverdLogo {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;

    cursor: pointer;
    span:nth-child(1) {
        color: #0a66c2;
        font-style: italic;
        font-weight: 900;
        font-size: xx-large;
    }

    span:nth-child(2) {
        color: #cc1016;
        font-size: xx-large;
    }

    span:nth-child(3) {
        color: #747474;
        font-weight: normal;
        border-radius: 8px;
        font-size: xx-large;
    }
}
.myStack {
    grid-area: 1/1/2/3;
    padding: 1rem 3rem;
    // background: #fff6e661;
    backdrop-filter: blur(4px);
    // border-radius: 4px;
    // margin-bottom: 2rem;
    // border: 1px solid #c0c0c0ad;
    // box-shadow: $small-shadow;
    // border: 1px solid rgba(var(--card-border-rgb), 0.15);
    // border-left: 1px solid #00000024;

    h3 {
        font-size: large;
        font-weight: 500;
        font-family: var(--font-title);
        margin-bottom: 0.8rem;
        color: #444b5b;
    }

    p {
        font-size: small;
        line-height: 1.8;
        color: #727272;
        padding: 0rem 0 0.8rem;
    }
}

.otherStack {
    grid-area: 1/3/2/4;
    padding: 1rem 3rem;
    // background: rgb(255 255 255 / 50%);
    backdrop-filter: blur(4px);
    // border-radius: 4px;
    // margin-bottom: 2rem;
    // border: 1px solid #c0c0c0ad;
    // box-shadow: $small-shadow;
    // border: 1px solid rgba(var(--card-border-rgb), 0.15);
    border-left: 1px solid #00000024;

    h3 {
        font-size: large;
        font-weight: 500;
        font-family: var(--font-title);
        margin-bottom: 0.8rem;
        color: #444b5b;
    }

    p {
        font-size: small;
        line-height: 1.8;
        color: #727272;
        padding: 0rem 0 0.8rem;
    }
}

.projectCard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.5fr 0.3fr 2.6fr 0.5fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "projectCardImage"
        "projectCardTitle"
        "projectCardTags"
        "projectCardDescription"
        "projectCardBottomRow";
    // padding: 2rem 2.5rem;
    // border-radius: 6px;
    background: rgb(255 255 255 / 45%);
    border: 1px solid #9296b973;
    box-shadow: $small-shadow;
    backdrop-filter: blur(4px);
    overflow: clip;
    cursor: pointer;
    transition:
        background 200ms,
        box-shadow 300ms ease-in-out,
        transform 300ms,
        border-radius 200ms,
        border 200ms;

    &:hover {
        background: white;
        border: 1px solid #9e9e9e;
        box-shadow: $big-shadow;
        z-index: 10;
        transform: translateY(-4px);
        border-radius: 4px;

        .projectCardBottomRow {
            .projectCardViewDetails {
                transition: all 0.2s ease-in-out;
                &:hover {
                    color: $black-substitute;
                }
                color: $accent-color;
                span {
                    transition: all 0.3s ease-in-out;
                    margin-left: 5px;
                }
            }
        }
    }
}

.projectCardImage {
    grid-area: projectCardImage;
    background: rgba(202, 206, 220, 0.168627451);
    display: flex;
    min-height: 180px;
    align-items: center;
    padding: 2rem 2rem;
    justify-content: center;
    box-shadow: 0 -2px 3px 0px #0000000a inset;
    border-bottom: 1px solid #0000001a;
}

.projectCardTitle {
    grid-area: projectCardTitle;
    font-family: var(--font-title);
    font-size: x-large;
    font-weight: 700;
    padding: 3rem 3rem 1rem;
    color: #40465a;
}

.projectCardBottomRow {
    @extend .twoCols;
    grid-area: projectCardBottomRow;
    text-transform: uppercase;
    color: #7b7b7b;
    font-weight: 700;
    display: flex;
    font-size: small;
    align-items: baseline;
    padding: 2rem 1.5rem 2.5rem;
}

.projectCardLinks {
    display: flex;
    gap: 1rem;
}

.projectCardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0.2rem 1.2rem;
    transition: all 0.15s ease-in-out;
    gap: 0.3rem;
    background: #c4c4c436;
    border: 1px solid transparent;
    transition: all 0.15s ease-in-out;
    &:hover {
        color: $black-substitute;
        border-color: #00000026;
        background: #c4c4c446;
    }
}

.projectCardGithubLink {
    @extend .projectCardLink;
}
.projectCardDemoLink {
    @extend .projectCardLink;
}
.projectCardViewDetails {
    padding: 0.4rem 1rem;

    span {
        display: inline-flex;
    }
}

.howManyMoreTags {
    font-size: x-small;
    font-weight: 500;
    border-radius: 4px;
    padding: 0.4rem 1rem;
    color: #383838;
    background: #c4c4c436;
    border: 1px solid transparent;
    transition: all 0.15s ease-in-out;
    &:hover {
        border-color: #00000026;
        background: #c4c4c446;
    }
}

.projectCardDescription {
    grid-area: projectCardDescription;
    padding: 0 2rem;
    font-size: 0.95rem;
    line-height: 1.6;
    font-family: var(--font-body);
    color: #3b3b3b;
}

.projectCardTags {
    grid-area: projectCardTags;
    padding: 1rem 2.5rem 1.4rem;
}

.projectsGrid {
    grid-area: 2/1/3/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // gap: 8px;
}

.transitionToWhite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 750px;
    background: rgb(255, 255, 255);
    margin-left: -6rem;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(228, 222, 212, 0) 100%);

    p {
        font-size: 1.2rem;
        font-weight: 400;
        color: #95999f;
        font-family: var(--font-body);
        padding: 2rem;
    }
}

@include no-hover-for-touch {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);

        span {
            transform: translateX(4px);
        }
    }
}

@include reduced-motion {
    .card:hover span {
        transform: none;
    }
}

@include mobile {
    .content {
        padding: 4rem;
    }

    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        max-width: 320px;
        text-align: center;
    }

    .card {
        padding: 1rem 2.5rem;

        h2 {
            margin-bottom: 0.5rem;
        }
    }

    .center {
        padding: 8rem 0 6rem;

        &::before {
            transform: none;
            height: 300px;
        }
    }

    .description {
        font-size: 0.8rem;

        a {
            padding: 1rem;
        }

        p,
        div {
            display: flex;
            justify-content: center;
            position: fixed;
            width: 100%;
        }

        p {
            align-items: center;
            inset: 0 0 auto;
            padding: 2rem 1rem 1.4rem;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
            background: linear-gradient(to bottom, rgba(var(--background-start-rgb), 1), rgba(var(--callout-rgb), 0.5));
            background-clip: padding-box;
            -webkit-backdrop-filter: blur(24px);
            backdrop-filter: blur(24px);
        }

        div {
            align-items: flex-end;
            pointer-events: none;
            inset: auto 0 0;
            padding: 2rem;
            height: 200px;
            background: linear-gradient(to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40%);
            z-index: 1;
        }
    }
}

@include tablet {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@include dark-mode {
    .vercelLogo {
        filter: invert(1);
    }

    .logo {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}
