@import "@/_styles/variables.module.scss";
@import "@/_styles/media-queries";

.tooltipTrigger {
  text-decoration: underline;
  cursor: help;
  text-decoration-style: dotted;
  text-decoration-thickness: from-font;
  text-underline-offset: 5px;
  text-decoration-color: #432a0d4f;
  user-select: none;

  &:hover {
    text-decoration: none;
  }
}

.tooltipBubbleBase {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 2rem;
  background-color: rgba(224, 224, 224, 0.305);
  color: #22201e;
  border-radius: $base-br;
  border: 1px solid rgba(134, 71, 0, 0.6);
  font-size: 0.9rem;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: $base-shadow;
  transition: all $fast-pace ease-in-out;
  pointer-events: none;
  max-width: 1000px;
  min-width: 40dvw;
  z-index: 25;
  line-height: 1.4;
}

.tooltipBubbleBottom {
  @extend .tooltipBubbleBase;
}

.tooltipBubbleTop {
  @extend .tooltipBubbleBase;
}
