.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

.projectCard-details {}

.main-stack {
    border-radius: 0px;
}

.tag {
    background-color: #ECECEC;
    padding: 2px 8px;
    border-radius: 5px;
}