.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.featured-details {
    padding: 20px;
}

.demoButton {
    padding: 10px;
    border-radius: 12px;
    background-color: #216EBB;
    color: #FFFFFF;
    font-weight: 600;
}

.expanded-details {}