@import "@/_styles/variables.module.scss";
@import "@/_styles/media-queries";

.hero {
  @extend .twoRows;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-image: radial-gradient(
      100% 25.5% at 50% 100%,
      #ead4cfd1 0%,
      #f2e9e9bd 21.25%,
      #f3e1e15c 42.5%,
      rgba(255, 0, 0, 0) 85%
    ),
    radial-gradient(
      64% 78% at 50% 86%,
      #df242485 0%,
      #ff00006b 25%,
      rgba(255, 38, 0, 0.2901960784) 50%,
      rgba(255, 0, 0, 0) 100%
    ),
    linear-gradient(
      226deg,
      rgba(255, 135, 0, 0.29) 0%,
      rgba(252, 118, 0, 0.22) 25%,
      #fa620024 50%,
      rgba(255, 0, 0, 0) 100%
    ),
    linear-gradient(119deg, #ffc8a7 13%, rgba(231, 126, 48, 0) 82%),
    radial-gradient(
      49% 50% at 50% 100%,
      #ff0800 14%,
      #fa444ea1 23.56%,
      #f7384e8c 33.11%,
      #f32d5078 42.67%,
      rgba(231, 48, 86, 0.3882352941) 52.22%,
      rgba(220, 51, 90, 0.3215686275) 61.78%,
      #d1355d3d 71.33%,
      rgba(198, 54, 94, 0.16) 80.89%,
      #b166386b 100%
    ),
    linear-gradient(0deg, #ff3432 0%, #fddafe 25%, #f79462 50%, #c5937a2b 100%);

  display: flex;
  flex-direction: column;
  align-items: center !important;
  gap: 0;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
}

.heroMain {
  display: flex;
  width: 100vw;
  height: 84dvh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 2;
  font-family: var(--font-title);
  justify-items: center;
  justify-content: center;

  .heroTexts {
    display: flex;
    align-self: auto;
    order: 0;

    .heroTitle {
      display: flex;
      flex-direction: row;
      justify-content: start;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.2;
      margin: 0;
      color: #000000c2;
    }

    .heroSubtitle {
      font-size: 2.5rem;
      font-weight: 400;
      margin: 0;
      color: #0000007a;
      font-style: italic;
      padding: 1rem 0;
      gap: 0.5rem;
      display: inline-flex;
      small {
        opacity: 0.4;
        font-size: smaller;
        user-select: none;
      }
    }

    .heroButtons {
      user-select: none;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
      font-size: medium;
      color: #2d2d2d;
    }

    font-style: normal;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
  }

  justify-items: center;
}

.heroResume {
  @extend .buttonCta;
  background-color: rgb(46 46 46 / 13%);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(12 12 12 / 80%);
  gap: 0.5rem;
  padding: 0.8rem 2.5rem;
  border: 1px solid rgb(0 0 0 / 14%);
  border-radius: $base-br;
  z-index: 10;
  filter: drop-shadow(0px 3px 9px rgba(237, 93, 89, 0.5019607843));
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1098039216);
  text-shadow: 1px 1px 2px rgba(255, 134, 109, 0.5);

  &:hover {
    background-color: rgb(9 9 9 / 18%);
    color: #00000099;
    box-shadow: 0px 0px 0px 0px #0000001c;
  }
}

.fry {
  display: flex;
  flex-direction: row;
  position: sticky;
  gap: 1rem;
  top: 10rem;
  padding-right: 0.2rem;
  justify-content: center;
  flex-wrap: nowrap;
  width: 500px !important;
  height: 400px !important;
  max-width: 35% !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  gap: 1rem;
  // max-width: 100vh;
  max-width: var(--max-width);
  align-items: center;
  justify-items: stretch;
  margin: auto;
}

.contact {
  @extend .section;
  backdrop-filter: blur(20px);
  background: rgb(182 182 182 / 38%);
  color: rgba(19, 10, 0, 0.7882352941);
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.08);
  z-index: 10;
  border-top: 1px solid rgb(255 255 255 / 39%);
  transition: all $base-pace ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;

  .contactMobileHeader {
    display: none;
  }

  &:hover {
    color: $black-substitute;
  }
}
.emailCopyField {
  display: flex;
  border: 1px dashed #00000052;
  border-radius: 18px;
  padding: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  align-items: center;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  transition: all $base-pace ease-in-out;

  &:hover {
    background-color: #ffffff24;
  }

  p {
    font-size: small !important;
    color: lighten($black-substitute, 5%);
    cursor: text;
  }
}
.fieldButton {
  border-radius: $rounded;
  background-color: #00000014;
  width: 24px;
  height: 24px;
  color: $black-substitute;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: all $base-pace ease-in-out;

  &:hover {
    background-color: #7b7b7b42;
  }
}
.contactCard {
  padding: 1rem 1.2rem;
  border-radius: $large-br;
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  min-width: 280px;
  transition:
    background 200ms,
    border 200ms;

  span {
    display: inline-block;
    transition: transform 200ms;
    display: flex;
    align-items: center;
  }

  h2 {
    all: unset;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 0.7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    align-content: center;

    span {
      display: flex;
      align-items: center;
    }
  }

  p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }

  min-height: 120px;
}

@include mobile {
  .section {
    padding: 0rem;
  }
  .heroMain {
    padding: 0;
    height: 100%;
    flex-direction: column;
  }
  .heroTexts {
    position: absolute !important;
    top: 6rem !important;
    left: 2rem !important;
    .heroTitle {
      font-size: 2.5rem !important;
    }
    .heroSubtitle {
      font-size: 1.5rem !important;
    }
    .heroButtons {
      gap: 1.2rem !important;
      flex-direction: column !important;
      align-items: flex-start !important;
    }
  }
  .fry {
    position: absolute !important;
    bottom: 3rem !important;
    // right: 0 !important;
    top: unset !important;
    width: unset !important;
    height: unset !important;
    max-width: unset !important;
    padding: 0 !important;
    transform: scale(0.75) !important;
  }
  .contact {
    position: fixed;
    height: 100dvh;

    .contactMobileHeader {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.5rem 3.5rem;
      height: 6rem;
      font-size: larger;
      font-weight: 500;
      span {
        display: flex;
        flex-direction: row;
        span {
          display: flex;

          margin: auto 0.5rem;
        }
      }
    }
  }

  .contactCard {
    padding: 1rem 2.5rem;

    h2 {
      margin-bottom: 0.5rem;
    }
  }

  .mobileContactMenuTrigger {
    cursor: pointer;
    user-select: none;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 100dvw;
    padding: 2rem;
    background: rgba(182, 182, 182, 0.38);
    color: rgba(19, 10, 0, 0.7882352941);
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.08);
    z-index: 10;
    border-top: 1px solid rgba(255, 255, 255, 0.39);
    transition: all $base-pace ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    align-items: baseline;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.5rem;
    }
  }
  .grid {
    grid-template-columns: 1fr;
    margin: unset;
    // margin-bottom: 120px;
    // max-width: 320px;
    // text-align: center;

    padding: 1rem;
  }
  .heroMain {
    width: 100vw;
    flex-direction: column;
  }
}

@include tablet {
  .section {
    padding: 0rem;
  }
  .heroMain {
    padding: 0;
    height: 100%;
    width: 100vw;
    flex-direction: column;
  }
  .heroTexts {
    position: absolute !important;
    top: 6rem !important;
    left: 2rem !important;
    .heroTitle {
      font-size: 3.5rem !important;
    }
    .heroSubtitle {
      font-size: 1.8rem !important;
    }
    .heroButtons {
      gap: 1.2rem !important;
      flex-direction: column !important;
      align-items: flex-start !important;
    }
  }
  .fry {
    position: absolute !important;
    top: 6rem !important;
    right: 0 !important;
    top: unset !important;
    width: unset !important;
    height: unset !important;
    max-width: unset !important;
    padding: 0 !important;
  }

  .grid {
    margin: unset;
    grid-template-columns: repeat(2, 40%);
    justify-items: start;
    padding: 1rem;
  }
}

@include no-hover-for-touch {
  .contactCard:hover {
    background: rgb(255 255 255 / 21%);
    box-shadow: 0px 0px 12px 0px #00000005;

    span {
      transform: translateX(4px);
    }
  }
}

@include reduced-motion {
  .contactCard:hover span {
    transform: none;
  }
}
