@import "@/_styles/variables.module.scss";
@import "@/_styles/media-queries";

.hero {
  @extend .twoRows;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-image: radial-gradient(
      100% 25.5% at 50% 100%,
      #ead4cfd1 0%,
      #f2e9e9bd 21.25%,
      #f3e1e15c 42.5%,
      rgba(255, 0, 0, 0) 85%
    ),
    radial-gradient(
      64% 78% at 50% 86%,
      #df242485 0%,
      #ff00006b 25%,
      rgba(255, 38, 0, 0.2901960784) 50%,
      rgba(255, 0, 0, 0) 100%
    ),
    linear-gradient(
      226deg,
      rgba(255, 135, 0, 0.29) 0%,
      rgba(252, 118, 0, 0.22) 25%,
      #fa620024 50%,
      rgba(255, 0, 0, 0) 100%
    ),
    linear-gradient(119deg, #ffc8a7 13%, rgba(231, 126, 48, 0) 82%),
    radial-gradient(
      49% 50% at 50% 100%,
      #ff0800 14%,
      #fa444ea1 23.56%,
      #f7384e8c 33.11%,
      #f32d5078 42.67%,
      rgba(231, 48, 86, 0.3882352941) 52.22%,
      rgba(220, 51, 90, 0.3215686275) 61.78%,
      #d1355d3d 71.33%,
      rgba(198, 54, 94, 0.16) 80.89%,
      #b166386b 100%
    ),
    linear-gradient(0deg, #ff3432 0%, #fddafe 25%, #f79462 50%, #c5937a2b 100%),
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3cpath d='M540.46 378.49a39.01 39.01 0 1 0 63.34 45.56z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M633.99 267.58 a18.76 18.76 0 1 0 37.52 0 a18.76 18.76 0 1 0 -37.52 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M688.96 249.82 a8.73 8.73 0 1 0 17.46 0 a8.73 8.73 0 1 0 -17.46 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1158.48 230.38 a13.29 13.29 0 1 0 26.58 0 a13.29 13.29 0 1 0 -26.58 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M517.03 396.04L553.59 396.04L553.59 432.6L517.03 432.6z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M938.11 200.79L982.52 200.79L982.52 250.32L938.11 250.32z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M852.56 138.96L884.02 138.96L884.02 168.56L852.56 168.56z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M461.79 212.62a54.11 54.11 0 1 0 102.26 35.42z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M862.65 463.77 a29.06 29.06 0 1 0 58.12 0 a29.06 29.06 0 1 0 -58.12 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M705.19 523.92L754.35 523.92L754.35 527.32L705.19 527.32z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M419.91 503.31L464.06 503.31L464.06 557.43L419.91 557.43z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M680.72 222.84L689.99 222.84L689.99 228.97L680.72 228.97z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M504.75 172.88a35.35 35.35 0 1 0 42.48-56.51z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1241.39 537.31L1257.12 537.31L1257.12 563.33L1241.39 563.33z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M991.68 444.01L1042.62 444.01L1042.62 494.95L991.68 494.95z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M318.91 432.29 a23.38 23.38 0 1 0 46.76 0 a23.38 23.38 0 1 0 -46.76 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M429.81 467.8a15.31 15.31 0 1 0 22.2 21.09z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M594.6 439.05L622.63 439.05L622.63 467.08L594.6 467.08z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M703.6 175.52a55.1 55.1 0 1 0-90.81 62.43z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M37.87 153.39L92.42 153.39L92.42 167.48L37.87 167.48z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M431.32 134.59 a30.73 30.73 0 1 0 61.46 0 a30.73 30.73 0 1 0 -61.46 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M277.19 551.76a19.97 19.97 0 1 0 38.7-9.91z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M355.88 496.43 a47.07 47.07 0 1 0 94.14 0 a47.07 47.07 0 1 0 -94.14 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M640.84 553.22L658.36 553.22L658.36 590.46L640.84 590.46z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1231.8 170.92a24.18 24.18 0 1 0-48.02 5.71z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M200.21 227L225.44 227L225.44 259.79L200.21 259.79z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M506.46 139.97a48.38 48.38 0 1 0 45.45-85.42z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M897.78 398.8L899.12 398.8L899.12 440.8L897.78 440.8z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M571.56 34.64a3.91 3.91 0 1 0-7.78-0.72z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M611.3 384.83L664.17 384.83L664.17 437.7L611.3 437.7z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M323.63 362.26a0.21 0.21 0 1 0 0.22 0.36z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M656.22 251.45L665.64 251.45L665.64 260.87L656.22 260.87z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1136.76 187.6a8.79 8.79 0 1 0 17.58-0.16z' fill='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  display: flex;
  flex-direction: column;
  align-items: center !important;
  gap: 0;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
}

.heroMain {
  display: flex;
  width: 100vw;
  height: 84dvh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 2;
  font-family: var(--font-title);
  justify-items: center;
  justify-content: center;

  .heroTexts {
    display: flex;
    align-self: auto;
    order: 0;

    .heroTitle {
      display: flex;
      flex-direction: row;
      justify-content: start;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.2;
      margin: 0;
      color: #000000c2;
    }

    .heroSubtitle {
      font-size: 2.5rem;
      font-weight: 400;
      margin: 0;
      color: #0000007a;
      font-style: italic;
      padding: 1rem 0;
      gap: 0.5rem;
      display: inline-flex;
      small {
        opacity: 0.4;
        font-size: smaller;
        user-select: none;
      }
    }

    .heroButtons {
      user-select: none;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
      font-size: medium;
      color: #2d2d2d;
    }

    font-style: normal;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
  }

  justify-items: center;
}

.heroResume {
  @extend .buttonCta;
  background-color: rgb(46 46 46 / 13%);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(12 12 12 / 80%);
  gap: 0.5rem;
  padding: 0.8rem 2.5rem;
  border: 1px solid rgb(0 0 0 / 14%);
  border-radius: $base-br;
  z-index: 10;
  filter: drop-shadow(0px 3px 9px rgba(237, 93, 89, 0.5019607843));
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1098039216);
  text-shadow: 1px 1px 2px rgba(255, 134, 109, 0.5);

  &:hover {
    background-color: rgb(9 9 9 / 18%);
    color: #00000099;
    box-shadow: 0px 0px 0px 0px #0000001c;
  }
}

.fry {
  display: flex;
  flex-direction: row;
  position: sticky;
  gap: 1rem;
  top: 10rem;
  padding-right: 0.2rem;
  justify-content: center;
  flex-wrap: nowrap;
  width: 500px !important;
  height: 400px !important;
  max-width: 35% !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  gap: 1rem;
  // max-width: 100vh;
  max-width: var(--max-width);
  align-items: center;
  justify-items: stretch;
  margin: auto;
}

.contact {
  @extend .section;
  backdrop-filter: blur(20px);
  background: rgb(182 182 182 / 38%);
  color: rgba(19, 10, 0, 0.7882352941);
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.08);
  z-index: 10;
  border-top: 1px solid rgb(255 255 255 / 39%);
  transition: all $base-pace ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;

  .contactMobileHeader {
    display: none;
  }

  &:hover {
    color: $black-substitute;
  }
}
.emailCopyField {
  display: flex;
  border: 1px dashed #00000052;
  border-radius: 18px;
  padding: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  align-items: center;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  transition: all $base-pace ease-in-out;

  &:hover {
    background-color: #ffffff24;
  }

  p {
    font-size: small !important;
    color: lighten($black-substitute, 5%);
    cursor: text;
  }
}
.fieldButton {
  border-radius: $rounded;
  background-color: #00000014;
  width: 24px;
  height: 24px;
  color: $black-substitute;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: all $base-pace ease-in-out;

  &:hover {
    background-color: #7b7b7b42;
  }
}
.contactCard {
  padding: 1rem 1.2rem;
  border-radius: $large-br;
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  min-width: 280px;
  transition:
    background 200ms,
    border 200ms;

  span {
    display: inline-block;
    transition: transform 200ms;
    display: flex;
    align-items: center;
  }

  h2 {
    all: unset;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 0.7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    align-content: center;

    span {
      display: flex;
      align-items: center;
    }
  }

  p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }

  min-height: 120px;
}

@include mobile {
  .section {
    padding: 0rem;
  }
  .hero {
    height: 100svh !important;
  }
  .heroMain {
    padding: 0;
    height: 100%;
    flex-direction: column;
  }
  .heroTexts {
    position: absolute !important;
    top: 6rem !important;
    left: 2rem !important;
    .heroTitle {
      font-size: 2.5rem !important;
    }
    .heroSubtitle {
      font-size: 1.5rem !important;
    }
    .heroButtons {
      gap: 1.2rem !important;
      flex-direction: column !important;
      align-items: flex-start !important;
    }
  }
  .fry {
    position: absolute !important;
    // right: 0 !important;
    top: 40% !important;
    bottom: 2rem !important;
    width: unset !important;
    height: unset !important;
    max-width: unset !important;
    padding: 0 !important;
    transform: scale(0.7) !important;
  }
  .contact {
    position: fixed;
    height: 100dvh;

    .contactMobileHeader {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.5rem 3.5rem;
      height: 6rem;
      font-size: larger;
      font-weight: 500;
      span {
        display: flex;
        flex-direction: row;
        span {
          display: flex;

          margin: auto 0.5rem;
        }
      }
    }
  }

  .contactCard {
    padding: 1rem 2.5rem;

    h2 {
      margin-bottom: 0.5rem;
    }
  }

  .mobileContactMenuTrigger {
    cursor: pointer;
    user-select: none;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 100dvw;
    padding: 2rem;
    background: rgba(182, 182, 182, 0.38);
    color: rgba(19, 10, 0, 0.7882352941);
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.08);
    z-index: 10;
    border-top: 1px solid rgba(255, 255, 255, 0.39);
    transition: all $base-pace ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    align-items: baseline;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0.5rem;
    }
  }
  .grid {
    grid-template-columns: 1fr;
    margin: unset;
    // margin-bottom: 120px;
    // max-width: 320px;
    // text-align: center;

    padding: 1rem;
  }
  .heroMain {
    width: 100vw;
    flex-direction: column;
  }
}

@include tablet {
  .section {
    padding: 0rem;
  }
  .heroMain {
    padding: 0;
    height: 100%;
    width: 100vw;
    flex-direction: column;
  }
  .heroTexts {
    position: absolute !important;
    top: 6rem !important;
    left: 2rem !important;
    .heroTitle {
      font-size: 3.5rem !important;
    }
    .heroSubtitle {
      font-size: 1.8rem !important;
    }
    .heroButtons {
      gap: 1.2rem !important;
      flex-direction: column !important;
      align-items: flex-start !important;
    }
  }
  .fry {
    position: absolute !important;
    top: 6rem !important;
    right: 0 !important;
    top: unset !important;
    width: unset !important;
    height: unset !important;
    max-width: unset !important;
    padding: 0 !important;
  }

  .grid {
    margin: unset;
    grid-template-columns: repeat(2, 40%);
    justify-items: start;
    padding: 1rem;
  }
}

@include no-hover-for-touch {
  .contactCard:hover {
    background: rgb(255 255 255 / 21%);
    box-shadow: 0px 0px 12px 0px #00000005;

    span {
      transform: translateX(4px);
    }
  }
}

@include reduced-motion {
  .contactCard:hover span {
    transform: none;
  }
}
