// color palette
$pinkish-orange: #f15c55;
$primary-color: lighten($pinkish-orange, 60%); // #f9e9e9
$secondary-color: #ffffff;
$accent-color: $pinkish-orange;
$background-color: #f0f8ff;
$black-substitute: lighten(black, 5%); // #1a1a1a
$text-color: $black-substitute;

// sizes
$base-font-size: 16px;
$base-line-height: 1.5;
$base-spacing: 1rem;
$max-width: 1100px;

// font family
$base-fonts: Arial, sans-serif;
$mono-fonts: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
  "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

// border radius
$small-br: 4px;
$base-br: 7px;
$large-br: 21px;
$rounded: 50%;

// transition duration
$slow-pace: 0.5s;
$base-pace: 0.3s;
$fast-pace: 0.2s;
$whoop: all $base-pace cubic-bezier(0, 0.13, 0, -1.29);

// shadows
$small-shadow:
  0px 0.3px 0.3px hsl(var(--shadow-color) / 0.29),
  0px 0.7px 0.8px -0.6px hsl(var(--shadow-color) / 0.29),
  0px 1.4px 1.6px -1.2px hsl(var(--shadow-color) / 0.29),
  0px 2.8px 3.1px -1.9px hsl(var(--shadow-color) / 0.029),
  0.1px 5.3px 6px -2.5px hsl(var(--shadow-color) / 0.015);

$base-shadow:
  0px 0.3px 0.3px hsl(var(--shadow-color) / 0.29),
  0px 0.7px 0.8px -0.6px hsl(var(--shadow-color) / 0.29),
  0px 1.4px 1.6px -1.2px hsl(var(--shadow-color) / 0.29),
  0px 2.8px 3.1px -1.9px hsl(var(--shadow-color) / 0.29),
  0.1px 5.3px 6px -2.5px hsl(var(--shadow-color) / 0.15);

$big-shadow:
  1px 1px 4px 0px #0000001a inset,
  0px 0.3px 0.2px hsl(var(--shadow-color) / 0.13),
  0px 0.5px 0.4px -0.5px hsl(var(--shadow-color) / 0.12),
  0px 0.9px 0.7px -1px hsl(var(--shadow-color) / 0.1),
  0px 1.7px 1.4px -1.5px hsl(var(--shadow-color) / 0.09),
  0px 3px 2.5px -2px hsl(var(--shadow-color) / 0.08),
  -0.1px 5.1px 4.2px -2.5px hsl(var(--shadow-color) / 0.07),
  -0.1px 8.1px 6.7px -3px hsl(var(--shadow-color) / 0.06),
  -0.1px 12.4px 10.3px -3.5px hsl(var(--shadow-color) / 0.05),
  -0.2px 18px 15px -4px hsl(var(--shadow-color) / 0.04),
  -0.3px 25.2px 21px -4.4px hsl(var(--shadow-color) / 0.03);

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
  width: 100%;
}

.twoRows {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: normal;
  gap: 1.5rem;
}

.twoCols {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  gap: 1.5rem;
}

.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all $base-pace ease-in-out;
  font-weight: 500;
  &:hover {
    filter: brightness(1.5);
  }
}

.buttonCta {
  @extend .button;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 2.5rem;
  border: 2px solid rgb(0 0 0 / 15%);
  border-radius: $large-br;
  z-index: 10;
  transition: all $base-pace ease-in-out;
  box-shadow: 0px 2px 1px 0px #0000001c;
  &:hover {
    filter: brightness(0.8);
  }
}

.buttonLink {
  @extend .button;
  font-weight: 500;
  z-index: 10;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: stretch;
  span {
    margin: auto;
  }
  &:hover {
    filter: brightness(1);
    span {
      transition: all $fast-pace ease-in-out;
      transform: translateX(5px);
    }
  }
}

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  accentColor: $accent-color;
  backgroundColor: $background-color;
  textColor: $text-color;
  baseFontSize: $base-font-size;
  baseLineHeight: $base-line-height;
  baseSpacing: $base-spacing;
  baseFonts: $base-fonts;
  smallBorderRadius: $small-br;
  baseBorderRadius: $base-br;
  largeBorderRadius: $large-br;
  slowPace: $slow-pace;
  basePace: $base-pace;
  fastPace: $fast-pace;
}
